<footer>
    <p>©2025-2025. State site of Republic of Gnezenland.<br>
    It's something wrong with the site? Inform us <a href="https://form.jotform.com/252405981389366">there</a><br>
    <a href="mailto:gnezencja@wp.pl"><img height="40px" src="https://gnezenca.github.io/krajovastrona/images/mail.png"></a> <a href="https://www.youtube.com/@Gnezencja"><img height="40px" src="https://gnezenca.github.io/krajovastrona/images/youtube.png"></a> <a href="https://whatsapp.com/channel/0029Vam3Jd53AzNJZKmu4m04"><img height="40px" src="https://gnezenca.github.io/krajovastrona/images/whatsapp.png"></a> <a href="https://x.com/gnezenca70458"><img height="40px" src="https://gnezenca.github.io/krajovastrona/images/x.png"></a> 
</footer> 
