<footer>
  <div class="greeting-text" data-lang="gnz">
    <p>©2025-2025. Krajova strona Gnezenskej Republiky. Naš mejl: <a href="mailto:gnezencja@wp.pl">gnezencja@wp.pl</a></p>
  </div>
  <div class="greeting-text" data-lang="pol">
    <p>©2025-2025. Strona państwowa Republiki Gneżeńskiej. Nasz mail: <a href="mailto:gnezencja@wp.pl">gnezencja@wp.pl</a></p>
  </div>
  <div class="greeting-text" data-lang="eng">
    <p>©2025-2025. State website of Republic of Gnezenland. Our mail: <a href="mailto:gnezencja@wp.pl">gnezencja@wp.pl</a></p>
  </div>
</footer> 
