<header class="main-header">
    <div class="header-left">
        <img src="https://gnezenca.github.io/krajovastrona/images/gnezensky_herb.jpg" alt="Gnezensky herb" class="flag-icon">
    </div>
    <nav class="header-nav">
        <button class="nav-button" data-key="main-page"><a href="https://gnezenca.github.io/krajovastrona">HLOVNA STRONA</a></button>
        <div class="dropdown">
            <button class="nav-button dropdown-toggle" data-key="about-us"><a>O NAS</a></button>
            <div class="dropdown-content">
                <ul>
                    <li><button class="nav-button" data-key="symbols"><a href="https://gnezenca.github.io/krajovastrona/symboly.html">SYMBOLY</a></button></li>
                    <li><button class="nav-button" data-key="history"><a href="https://gnezenca.github.io/krajovastrona/istora.html">ISTORA</a></button></li>
                    <li><button class="nav-button" data-key="g-zloty"><a href="https://gnezenca.github.io/krajovastrona/g-zloty.html">GNEZENSKY ZLOTY</a></button></li>
                    <li><button class="nav-button" data-key="partners"><a href="https://gnezenca.github.io/krajovastrona/partnery.html">PARTNERY</a></button></li>
                    <li><button class="nav-button" data-key="constitution"><a href="https://gnezenca.github.io/krajovastrona/konstytuca.html">KONSTYTUCA</a></button></li>
                </ul>
            </div>
        </div>
        <button class="nav-button" data-key="news"><a href="https://gnezenca.github.io/krajovastrona/vesty">VESTY</a></button>
        <div class="dropdown">
            <button class="nav-button dropdown-toggle" data-key="language"><a>MOVA</a></button>
            <div class="dropdown-content">
                <ul>
                    <li><button class="nav-button" data-key="grammar"><a href="https://gnezenca.github.io/krajovastrona/slovozbor/hramatyka.html">HRAMATYK</a></button></li>
                    <li><button class="nav-button" data-key="dictionary"><a href="https://gnezenca.github.io/krajovastrona/slovozbor">SLOVOZBOR</a></button></li>
                </ul>
            </div>
        </div>
        <button class="nav-button" data-key="forum"><a href="https://gnezenca.fora.pl">FORUM</a></button>
        <div class="dropdown">
            <button class="nav-button dropdown-toggle" data-key="institutions"><a>INSTYTUCY</a></button>
            <div class="dropdown-content">
                <ul>
                    <li><button class="nav-button" data-key="gta"><a href="https://gnezenca.github.io/krajovastrona/gta.html">GNEZENSKA TEHNOLOGOVA AKADEMA</a></button></li>
                    <li><button class="nav-button" data-key="g-school"><a href="http://sites.google.com/view/gnezenskaszkola">GNEZENSKA MOKYKLA</a></button></li>
                    <li><button class="nav-button" data-key="g-library"><a href="http://gnezenca.github.io/krajovastrona/g-bibloteka.html">GNEZENSKA BIBLOTEKA</a></button></li>
                    <li><button class="nav-button" data-key="g-telegraph"><a href="http://sites.google.com/view/gnezensky-telegram">GNEZENSKY TELEGRAF</a></button></li>
                    <li><button class="nav-button" data-key="gnezenpeda"><a href="http://gnezenpeda.fandom.com">GNEZENPEDA</a></button></li>
                </ul>
            </div>
        </div>
        <button class="nav-button" data-key="hour"><a><div id="clock">--.--.---- --:--:--</div></a></button>
    </nav>
    <div class="language-switcher">
        <button class="lang-button" data-lang="gnz">
            <img src="https://gnezenca.github.io/krajovastrona/images/gnezenska_flaga.png" alt="Gnezensky flag" class="lang-icon">
        </button>
        <button class="lang-button" data-lang="pol">
            <img src="https://gnezenca.github.io/krajovastrona/images/gneznicka_flaga.png" alt="Poland flag" class="lang-icon">
        </button>
        <button class="lang-button" data-lang="eng">
            <img src="https://gnezenca.github.io/krajovastrona/images/anglova_flaga.png" alt="UK flag" class="lang-icon">
        </button>
    </div>
</header>
<header class="main-header">
    <button class="nav-button" data-key="election"><a>PREZYDENTOVA ELEKCA SESKONČYLA</a></button>
</header>
